@font-face{
    font-family: "Leva Icons";
    src: url(https://levabrands.dev/fonts/icons/leva-icons.eot);
    src: local("Leva Icons"), local("Leva-Icons"),
      url(https://levabrands.dev/fonts/icons/leva-icons.woff2) format("woff2"),
      url(https://levabrands.dev/fonts/icons/leva-icons.woff) format("woff"),
      url(https://levabrands.dev/fonts/icons/leva-icons.ttf) format("truetype");
}
.lev-icon{
    font-family: "Leva Icons", icons;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    speak: never;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    cursor: default;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga";
    direction: ltr;
    stroke: full;
}

.lev-icon.broken, .lev-icon.magnet-pack{
    speak: none;
}
.lev-icon.broken::before, .lev-icon.broken::after, .lev-icon.magnet-pack::before, .lev-icon.magnet-pack::after{
    content: "This pack is broken!";
    font-family: "Poppins", sans-serif;
    line-height: normal;
    display: block;
}
.lev-icon.full-support::before{
    content: "????";
}
